{% extends 'master.html' %}
{% load static %}
{% block rooms_active_class %}class="active"{% endblock %}


{% block intro %}
<div class="site-blocks-cover overlay" style="background-image: url(/static/images/available_rooms.jpg)" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
        {% if room_types %}
          <h1 class="mb-2">Our Room Types</h1>
        {% else %}
         <h1 class="mb-2">Available Rooms</h1>
         {% endif %}
          <!-- <h2 class="caption">Hostel</h2> -->
        </div>
      </div>
    </div>
  </div>  
{% endblock %}

{% block body %}

{% if room_types %}
<div class="site-section bg-light">
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">Our Room Types</h2>
        </div>
      </div> -->
      <div class="row">
        {% for room_type in room_types %}
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="hotel-room text-center">
            <a href="{% url 'available_rooms' room_type.pk%}" class="d-block mb-0 thumbnail"><img src="/{{room_type.image1}}" alt="Image" class="img-fluid"></a>
            <div class="hotel-room-body">
              <h3 class="heading mb-0"><a href="{% url 'available_rooms' room_type.pk%}">{{ room_type.capacity }} in a room</a></h3>
              <p><strong class="price">GHC{{ room_type.price_per_sem }} / per sem</strong></p>
              <p><strong class="price">{{ room_type.count_available_rooms }} room{{room_type.count_available_rooms|pluralize}} available</strong></p>
              <a href="{% url 'available_rooms' room_type.pk%}">View Available Rooms</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">{{room_type.capacity}} in a room</h2>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            <th>Per Day</th>
            <th>Per Week</th>
            <th>Per Month</th>
            <th>Per Sem</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>{% if room_type.price_per_day %} GHC{{ room_type.price_per_day }} {% else %} - {% endif %}</td>
              <td>{% if room_type.price_per_week %} GHC{{ room_type.price_per_week }} {% else %} - {% endif %}</td>
              <td>{% if room_type.price_per_month %} GHC{{ room_type.price_per_month }} {% else %} - {% endif %}</td>
              <td>{% if room_type.price_per_sem %} GHC{{ room_type.price_per_sem }} {% else %} - {% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <div class="row">
    {% if rooms %}
      {% for room in rooms %}
      <div class="col-md-6 col-lg-3 mb-5">
        <div class="hotel-room text-center">
          <!-- <a href="#" class="d-block mb-0 thumbnail"><img src="{{room.image1}}" alt="Image" class="img-fluid"></a> -->
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a href="{% url 'reservation' room_type.pk room.pk %}">Room {{ room.name }}</a></h3>
            <p><strong class="price">{{ room.num_of_people }} Occupant{{room.num_of_people|pluralize}}</strong></p>
            <a href="{% url 'reservation' room_type.pk room.pk %}">Reserve Room</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div style="width: 100%; text-align: center;">
        <a href="{% url 'rooms' %}">Back to Room Types</a>
      </div>
    {% else %}
    <div style="width: 100%; text-align: center;">
      <h4>No available rooms at this moment, please try other room types</h4>
      <a href="{% url 'rooms' %}">View Room Types</a>
    </div>
    {% endif %}
    </div>
    {% include 'includes/pagination.html' %}
  </div>
</div>
{% endif %}


{% endblock %}